<h1>Your Cart</h1>

<div class='row'>
  <div class='col-md-6'>

  <table class="table table-hover">
    <thead>
      <th>Product</th>
      <th></th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
    </thead>
    <tbody>
    {{# each items}}
      <tr>
        <td>{{# link-to "product" this.product }}<img {{ bind-attr src=this.product.avatar }}>
        <br>{{ this.product.name }}{{/ link-to }}</td>
        <td></td>
        <td>{{ input type="number" value=quantity min=1 }}</td>
        <td>{{ format-money this.currentprice }}</td>
        <td>{{ format-money this.subtotal }}</td>
        <td><button {{action "deleteItem" this}} class="btn btn-warning"> remove from cart </button></td>
      </tr>
      {{/ each}}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Total:</strong></td>
        <td><strong>{{ format-money total }} </strong></td>
{{# unless checkout }}
        <td><button class="btn btn-primary" {{ action 'checkout' this }}>Checkout </button></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class='col-md-6'>

    {{else }}
      <div class='form-group'>
        <label for="name">Name</label>
        {{input type='text' value=proxy.name class='form-control'}}
      </div>
      <div class='form-group'>
        <label for="email">Email</label>
        {{input type='text' value=proxy.email class='form-control'}}
      </div>

      <div class='form-group'>
        <label for="ccnumber">Credit Card Number</label>
        {{input type='text' value=proxy.ccnumber class='form-control'}}
      </div>

      <div class='form-group'>
        <label for="CCV">CCV</label>
        {{input type='text' value=proxy.ccv class='form-control'}}
      </div>

      <div class='form-group'>
        <label for="expdate">Exp. Date</label>
        {{input type='text' value=proxy.expdate class='form-control'}}
      </div>

      <div class='form-group'>
        <label for="zipcode">Zip Code</label>
        {{input type='text' value=proxy.zipcode class='form-control'}}
      </div>

      <button class='btn btn-success' {{action "submitorder" proxy }}>Purchase</button>

    {{/unless}}
  </div>
</div>
