<h1>Your Cart</h1>

<div class='row'>

  <table class="table table-hover">
    <thead>
      <th>Product</th>
      <th></th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
    </thead>
    <tbody>
    {{# each items}}
      <tr>
        <td>{{# link-to "product" this.product }}<img {{ bind-attr src=this.product.avatar }}>
        <br>{{ this.product.name }}{{/ link-to }}</td>
        <td></td>
        <td>{{ input type="number" value=quantity min=1 }}</td>
        <td>{{ format-money this.currentprice }}</td>
        <td>{{ format-money this.subtotal }}</td>
        <td><button {{action "deleteItem" this}} class="btn btn-warning"> remove from cart </button></td>
      </tr>
      {{/ each}}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Total:</strong></td>
        <td><strong>{{ format-money total }} </strong></td>
        <td><button class="btn btn-primary" {{ action 'checkout' this }}>Checkout </button></td>
      </tr>
    </tbody>
  </table>
</div>

{{# unless checkout }}
  <button class="btn btn-success" {{ action 'checkout' this }}> Checkout </button>

{{else }}
  <div class='form-group'>
    <label for="name">Name</label>
    {{input type='text' value=name class='form-control'}}
  </div>
  <div class='form-group'>
    <label for="email">Email</label>
    {{input type='text' value=email class='form-control'}}
  </div>

  <div class='form-group'>
    <label for="creditcardnumber">Credit Card Number</label>
    {{input type='text' value=creditcardnumber class='form-control'}}
  </div>

  <div class='form-group'>
    <label for="CCV">CCV</label>
    {{input type='text' value=ccv class='form-control'}}
  </div>

  <div class='form-group'>
    <label for="expirationdate">Exp. Date</label>
    {{input type='text' value=expirationdate class='form-control'}}
  </div>

  <div class='form-group'>
    <label for="zipcode">Zip Code</label>
    {{input type='text' value=zipcode class='form-control'}}
  </div>

  <button class='btn btn-success' {{action "submitorder" this}}>Submit Order</button>

{{/unless}}
