<h1>Your Cart</h1>

<div class='row'>
  <div class='col-lg-2'>
    <button {{action "show" this}}>panic</button>

   <div>
  <table>
    <thead>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
    </thead>
    <tbody>
    {{# each items}}
      <tr>
        <td>{{ this.product.name }}</td>
        <td>{{ input type="number" value=quantity min=1 }}</td>
        <td>{{ format-money this.currentprice }}</td>
        <td>{{ format-money this.subtotal }}</td>
      </tr>
      {{/ each}}
      <tr>
        <td><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td> {{ format-money total }} </td>
      </tr>
    </tbody>
  </table>
</div>
