      <tr>
        <td>
        {{# link-to "product" this.product_id }}<img {{ bind-attr src=this.product_avatar }}>
        <br>{{ product_name }}{{/ link-to }}</td>
        <td>{{ input type="number" value=quantity min=1 class="form-group col-lg-4 quantity-table" focus-out="acceptChanges" insert-newline="acceptChanges"}}

        </td>
        <td>{{ format-money currentprice }}</td>
        <td>{{ format-money subtotal }}</td>
        <td><button {{action "deleteItem" this}} class="btn btn-warning btn-xs">Remove</button></td>
      </tr>
