Product name: {{ input value=name }}
<br><br>
Product Price: {{ input type="number" value=price }} (in cents, please!)
<br><br>
Product description: {{ textarea value=description rows=10 cols=100 }}
<br><br>
Product image url: {{ textarea value=image rows=1 cols=100}}
<br><br>
Product avatar url: {{ textarea value=avatar rows=1 cols=100 }}
<br><br>
<button {{ action "createProduct" this }}>Save!</button>
